body {
  background-color: #002200;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Helvetica', sans-serif;
}

#calculator {
  background-color: gray;
  padding: 30px;
  min-width: 300px;
  min-height: 450px;
  display: grid;
  grid-template-rows: 1fr 5fr;
  row-gap: 20px;
  border-style: outset;
  border-radius: 10px;
  border-width: 15px;
  border-color: gray;
  box-shadow: 10px 10px 5px #0D0208;
}

#calc-screen {
  background-color: darkslategray;
  color: greenyellow;
  padding: 10px;
  font-size: 42px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-style: inset;
  border-width: 5px;
  border-color: darkslategray;
}

#buttons-container {
  font-size: 24px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
}

#calc-numbers-container,
#calc-operators-container {
  display: grid;
  column-gap: 10px;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
}

#one-btn {
  grid-area: one;
}

#two-btn {
  grid-area: two;
}

#three-btn {
  grid-area: three;
}

#four-btn {
  grid-area: four;
}

#five-btn {
  grid-area: five;
}

#six-btn {
  grid-area: six;
}

#seven-btn {
  grid-area: seven;
}

#eight-btn {
  grid-area: eight;
}

#nine-btn {
  grid-area: nine;
}

#zero-btn {
  grid-area: zero;
}

#clear-btn {
  grid-area: clear;
}

#calc-numbers-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "clear clear clear"
    "seven eight nine"
    "four five six"
    "one two three"
    "zero zero zero";
}

#calc-operators-container {
  grid-template-columns: 1fr; 
}

#buttons-container button {
  font-size: 24px;
  border: none;
  border-radius: 5px;
  border-width: 5px;
  border-style: outset;
}

#calc-numbers-container button {
  background-color: lightgray;
  color: darkslategray;
  border-color: lightgray;
}

#calc-operators-container button {
  background-color: darkslategray;
  color: lightgray;
  border-color: darkslategray;
}

#calc-numbers-container button:active {
  background-color: darkgray;
  border-style: inset;
  border-color: darkgray;
}

#calc-operators-container button:active {
  background-color: rgb(25, 43, 43);
  border-style: inset;
  border-color: rgb(25, 43, 43);
}